.flat-button {
    position: relative;
    width: 250px;
    height: 60px;
    background: #5ad3ab;
    margin: 0 auto;
    margin-bottom: 30px;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: color 0.3s;
    font-size: large;
    font-weight: bold;
   /* Typo */
    line-height: 60px;
    text-align: center;
    color: #fff;
    border: 0;
}
.flat-button:after {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #47a888;
    content: "";
    z-index: -2;
    transition: transform 0.3s;
}
.flat-button:hover::after {
    transform: translateY(-80%);
    transition: transform 0.3s;
}
